<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/_alwin.css">
    <link rel="stylesheet" href="/css/_bernard.css">
    <link rel="stylesheet" href="/css/_falko.css">
    <script src="/js/bootstrap.min.js" defer></script>
    <title>Code Gorilla</title>
</head>
    <body>
        <section>
            <%- body -%>
        </section>
    </body>
</html>